.button {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.transaction-send {
  background-color: #ffe2e2;
}

.transaction-receive {
  background-color: #cfecca;
}

.validation-error {
  background-color: #ffe2e2;
}